.content {
    display: flex;
    flex-direction: column;
}

.header, .top-of-page {
    display: flex;
    background-color: #1F3937;
}

.bold-heading {
    font-size: 42px;
    font-weight: 900;
    color: #F9FAF8;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.small-heading {
    font-size: 18px;
    color: #E5E7EB;
}