.content {
    display: flex;
    flex: auto;
    flex-direction: column;
}

.header, .top-of-page {
    display: flex;
    flex: auto;
    background-color: #1F2937;
    justify-content: space-between;
    gap: 16px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 16px;
    padding-bottom: 70px;
}

.top-left {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.top-image {
    width: 300px;
    height: 150px;
    background-color: #E5E7EB;
}

.bold-heading {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.head-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.small-heading {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    width: 86px;
    height: 24px;
}

.content-head {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-images {
    display: flex;
    justify-content: center;
    margin: 24px;
    margin-bottom: 76px;
    gap: 16px;
}

.quote {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    background-color: #E5E7EB;
    /* figure out where the light in the font picture comes from*/
}

.quoted-person {
    display: flex;
    justify-content: right;
}

.bottom-of-page {
    background-color: #3882F6;
    color: white;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.links {
    display: flex;
    color: #E5E7EB;
    gap: 16px;
}

.quoted-person {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}